In [1]:
a = 4
b = 6
c = a+b 
d = a-b 

print("The value of a is", a)
print("The value of b is", b)
print("The value of c is", c)
print("The value of d is", d)

The value of a is 4
The value of b is 6
The value of c is 10
The value of d is -2

In [2]:
x = 5/2
print(x)

2.5

In [6]:
#the difference of x and y is because in x is a float and y is a int 
y = (int)(5/2)
print(y)

2

In [7]:
v1 = 4
v2 = 5.5
v3 = v1+v2
print(v3)

9.5

In [14]:
#python language is sensitive to spaces and indexation 
v1 = 4
        v2 = 5.5
    v3 = v1+v2
print(v3)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 3)

In [16]:
#the values of x, y and z and stings and not int 
X = '1'
Y = '2'
Z = '3'
Ans = X + Y + Z
print(Ans)

123

In [17]:
Birth_Year = 1992
Current_Year = 2025 
Age = Current_Year-Birth_Year

print(Age)

33

In [18]:
my_name = "Thais Marouelli"
my_country = "Brazil"
my_major = "Industrial Eng"

In [24]:
print("Old:", my_name)
print("Old:", my_country)
print("Old:", my_major)
print("New:", my_name.upper())
print("New:", my_country.lower())
print("New:", my_major.swapcase())

Old: Thais Marouelli
Old: Brazil
Old: Industrial Eng
New: THAIS MAROUELLI
New: brazil
New: iNDUSTRIAL eNG

In [28]:
P = 36
Q = 27 
D = 2*(P+Q)
K = 4*(P-Q)

print("The value of the variable P is",P)
print("The value of the variable Q is",Q)
print("The value of the variable D is",D)
print("The value of the variable K is",K)

The value of the variable P is 36
The value of the variable Q is 27
The value of the variable D is 126
The value of the variable K is 36

## Sequences

In [30]:
text = "This is my 2nd Tutorial in MDS601"

print(text)

This is my 2nd Tutorial in MDS601

In [31]:
print(len(text))

33

In [32]:
print(text[5])

i

In [33]:
print(text[len(text)-1])

1

In [35]:
updated_text = text.swapcase()
print(updated_text)

tHIS IS MY 2ND tUTORIAL IN mds601

In [141]:
FName = "Thais"
LName = "Marouelli"
full_name = FName+' '+LName
print(full_name)

Thais Marouelli

In [142]:
my_list = [15, 67, 34, 45, 94, 27]
print(my_list)

[15, 67, 34, 45, 94, 27]

In [143]:
my_list[0]=20
print(my_list)

[20, 67, 34, 45, 94, 27]

In [144]:
new_value = my_list[0]+my_list[1]

my_list[(len(my_list)-1)] = new_value
print(my_list)

[20, 67, 34, 45, 94, 87]

In [145]:
my_list.extend([66,14])
print(my_list)

[20, 67, 34, 45, 94, 87, 66, 14]

In [146]:
#3rd index of the list is the index numb 3, if it's 3rd value of the list would be index number 2
my_list.insert(3,-10)
print(my_list)

[20, 67, 34, -10, 45, 94, 87, 66, 14]

In [147]:
sorted_list = sorted(my_list)
print(sorted_list)

[-10, 14, 20, 34, 45, 66, 67, 87, 94]

In [148]:
print(my_list)

[20, 67, 34, -10, 45, 94, 87, 66, 14]

In [149]:
#Tuple

my_tuple =(5, 8, 4, 7, 15)

print(len(my_tuple))

5

In [151]:
print(my_tuple[len(my_tuple)-1])

15

In [153]:
#error because we cannot update values of the tuple 
my_tuple[1] = 20

TypeError: 'tuple' object does not support item assignment

In [154]:
#Dictionary

my_data = {'Angie': 27, 'Thais': 32, 'Jhon': 28, 'Catarina':30, 'Marta': 26}
print(my_data)

{'Angie': 27, 'Thais': 32, 'Jhon': 28, 'Catarina': 30, 'Marta': 26}

In [155]:
print(my_data.keys())

dict_keys(['Angie', 'Thais', 'Jhon', 'Catarina', 'Marta'])

In [156]:
print(my_data.values())

dict_values([27, 32, 28, 30, 26])

In [157]:
print(my_data['Catarina'])

30